# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*
*.local

# Cache
.eslintcache
*.tsbuildinfo

# Vite temp files
*.timestamp-*-*.mjs

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Testing
coverage/
__screenshots__/

# Cypress
/cypress/videos/
/cypress/screenshots/